
<h2>Waivers</h2>

<h3>amd64</h3>
<h4 id="amd64-porters">Porters</h4>
<p>Our toolchain maintainers are happy to support amd64 as-is.</p>


<h3>i386</h3>
<h4 id="i386-portbox">Porterbox</h4>
<p>Considering the fact that most DDs still upload packages built on i386
  and that pergolesi (the amd64 porterbox) offers 32bit chroots we waive
  the porterbox requirement for i386.</p>

<h4 id="i386-porters">Porters</h4>
<p>Our toolchain maintainers are happy to support i386 as-is.</p>

<h3>kfreebsd</h3>
<h4 id="kfreebsd-upstream">Upstream Support</h4>
<p>Kernel has obviously a large community which supports it.  gcc has upstream
  support, the kfreebsd-specific part is only a few hundred lines long.  glibc
  is done by us (mostly Petr Salinger).</p>

<h3>sparc</h3>
<h4 id="sparc-upstream">Upstream Support</h4>
<p>According to the gcc maintainer 32bit code generation as we use it is no
  longer supported upstream and we should aim for a switch to 64bit userland
  anytime soon.</p>
</div>
</body>
</html>

